@media screen and (max-width: 768px) {
    .container {
        width: auto;
    }
}

@media screen and (max-width: 576px) {
    .row {
        flex-wrap: wrap;
    }

    .col {
        margin-bottom: 60px;

    }

    .lessons .col {
        width: 100%;
    }

    .lessons .col img {
        max-width: 100%;
        height: auto;
    }

    .steps .col {
        width: 100%;
    }

    .why-us .col {
        width: 100%;
    }
}